*.swp
target/
**/*.rs.bk
.DS_Store
*.pdb
exercicios/22_clippy/Cargo.toml
exercicios/22_clippy/Cargo.lock
rust-project.json
.idea
.vscode/*
!.vscode/extensions.json
*.iml
*.o
public/
.direnv/

# Local Netlify folder
.netlify
